<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/lang
	http://www.springframework.org/schema/lang/spring-lang-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<import resource="com/javaassistant/action/config.xml" />
	<bean id="loadKnowledgeAction" class="com.javaassistant.action.LoadKnowledgeAction">
		<property name="dao" ref="knowledgeDAO"></property>
	</bean>
	<bean id="addKnowledgeAction" class="com.javaassistant.action.AddKnowledgeAction">
		<property name="dao" ref="knowledgeDAO"></property>
	</bean>
	<bean id="updateKnowledgeAction" class="com.javaassistant.action.UpdateKnowledgeAction">
		<property name="dao" ref="knowledgeDAO"></property>
	</bean>
	<bean id="loadKnowledgeByIdAction" class="com.javaassistant.action.LoadKnowledgeByIdAction">
		<property name="dao" ref="knowledgeDAO"></property>
	</bean>
</beans>